# Core
/.git
!.deploy
lerna.json
package.json
tsconfig.*

# Third party
**/node_modules

# Temp
**/.cache

# Build products
libs/**/build
libs/**/dist
services/**/build
services/**/dist
samples/**/build
samples/**/dist

# Tests
libs/**/fixtures
libs/**/coverage
services/**/fixtures
services/**/coverage
samples/**/fixtures
samples/**/coverage
