{
  "env": {
    "node": true,
    "jest": true,
    "browser": true
  },
  "extends": "../../.eslintrc",
  "globals": {
    "React": "readonly"
  },
  "rules": {
    "import/prefer-default-export": "off",
    "import/no-unresolved": [
      "error",
      {
        "ignore": ["@common", "@api", "@components", "@containers"]
      }
    ],
    "react/jsx-filename-extension": [
      "error",
      {
        "extensions": [".tsx"]
      }
    ]
  }
}
